<!doctype html>
<html>
<head>
    <title>botec hohmann calculator</title>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
body{
    background: #bec;
    color: #031;
    margin-left: 1.6em;
    max-width: 49em;
    font-family: Gugi, sans-serif;
}

select, label, button {
    font-size: 1em;
    font-family: Gugi, sans-serif !important;
}

button {

    margin-top: 1em;
    display: block;
    width: 15em;
    height: 3em;
}

</style>
</head>
<body>
    <h1>Back-of-the-envelope Orbital Transfer Calculator</h1>
    <form method="get" action="{{ url_for('transfer') }}">
        <label for="origin">From:</label>
        <select id="origin" name="origin">
            {% for location in LOCATIONS -%}
            <option value={{ location }} {% if origin == location %}selected{% endif %}>{{location}}</option>
            {%- endfor %}
        </select>
        <input type="checkbox" id="origin__is_surface" name="origin__is_surface" value="true" {% if request.query_params.origin__is_surface %}checked{% endif %}>Launch from surface</input>
        <label for="origin">To:</label>
        <select id="destination" name="destination">
            {% for location in LOCATIONS -%}
            <option value={{ location }} {% if destination == location %}selected{% endif %}>{{location}}</option>
            {%- endfor %}
        </select>
        <input type="checkbox" id="destination__is_surface" name="destination__is_surface" value="true" {% if request.query_params.destination__is_surface %}checked{% endif %}>Descent to surface</input>
        <button>Calculate Course</button>
    </form>
    {% if course %}
    <section>
        <p>Total 𝝙v: {{ course.deltavee() | round(2) }} m/s.<p>
        {% if course.duration %}
        <p>Elapsed time: {{ course.duration() | precisedelta }}<p>
        {% endif %}
        {% if course.opportunities() %}<h3>Opportunities</h3>
        <ul>
        {% for opportunity in course.opportunities() %}
        <li>{{ opportunity }}: angle {{ opportunity.angle() | round(3) }} rad, period {{ opportunity.period() | precisedelta }}</li>
        {% endfor %}
        </ul>{% endif %}
        {% if course.transfers() %}<h3>Transfers</h3>
        <ol>
        {% for transfer in course.transfers() %}
        <li>{{ transfer }}: {{ transfer.burns() | length }} burns, 𝝙v {{ transfer.deltavee() | round(2) }} m/s</li>
        {% endfor %}
        </ol>
        {% endif %}
        {% if course.maneuvers() %}<h3>Maneuvers</h3>
        <ol>
        {% for maneuver in course.maneuvers() %}
        <li>{{ maneuver }}: {{ maneuver.burns() | length }} burns, 𝝙v {{ maneuver.deltavee() | round(2) }} m/s</li>
        {% endfor %}
        </ol>
        {% endif %}
    </section>
    {% endif %}
    <p>This calculator produces results using the <a href="http://www.alcyone.com/software/botec/">botec library, developed by Eric Max Francis</a>. The source code for this web wrapper can be found at <a href="https://github.com/weargoggles/hohmann">https://github.com/weargoggles/hohmann</a></p>
</body>
